In [81]:
#Importing Libraries
import selenium
import pandas as pd
# Importing selenium webdriver 
from selenium import webdriver

In [82]:
driver = webdriver.Chrome(r'C:\Users\udayakiran\Desktop\chromedriver.exe')

In [89]:
vertical, Headline, date,Author, Description = [],[],[],[],[]

In [90]:
for page in range(562,598):
    head_temp=[]
    url = "https://www.ebmnews.com/2019/page/"+str(page)
    driver.get(url)
    for i in driver.find_elements_by_tag_name("h2"):
        Headline.append(i.text)
        head_temp.append(i.text)
    [date.append(i.text) for i in driver.find_elements_by_xpath("//span[@class ='time']/time[1]")]        
    [Author.append(i.text) for i in driver.find_elements_by_xpath("//div[@class ='post-meta']/a[1]/i[1]")]
    [Description.append(i.text) for i in driver.find_elements_by_xpath("//div[@class ='post-summary']")]   
    for hl in head_temp:
        url = "https://www.ebmnews.com/"+str(hl.replace(" ", "-"))
        driver.get(url)
        for i in driver.find_elements_by_xpath("//ul[@class='bf-breadcrumb-items']/li[2]"):
            if i.text is None or i.text=='' or i.text =='404 Not Found':
                vertical.append('News Removed/page not available')
            else:
                vertical.append(i.text)

In [91]:
List_of_views=pd.DataFrame({"Date":pd.Series(date),
                            "Vertical":pd.Series(vertical),
                            "Head Line":pd.Series(Headline),
                            "Author":pd.Series(Author),
                            "Description":pd.Series(Description)                           
                           })
compression_opts = dict(method='zip', archive_name='News_Classification_EBM_news.csv')
List_of_views.to_csv('News_Classification_EBM_news.zip', index=False, compression=compression_opts)

In [94]:
List_of_views.head()

,Date,Vertical,Head Line,Author,Description
0,"May 25, 2019",Entertainment,Are The Fans Disappointed?,Reporter,"Recently, Prabhas came up with the much-awaite..."
1,"May 25, 2019",Sports,Young Hashmatullah stars as Afghanistan stun P...,Reporter,"Bristol, May 24: Afghanistan announced their i..."
2,"May 25, 2019",Business,UK PM Theresa May Resigns Amid Brexit Crisis,Reporter,British prime minister Theresa May announces r...
3,"May 25, 2019",News Removed/page not available,Ashok Leyland’s Q4 Profit Declines 12%,Reporter,"Commercial vehicle maker, Ashok Leyland, repor..."
4,"May 25, 2019",World,Two more Indian mountaineers die on Mount Everest,Reporter,KATHMANDU: Two more Indian climbers have died ...